<ngx-spinner
bdOpacity = 1
bdColor = "#fff"
size = "medium"
color = "#cf46ff"
type = "fire"
[fullScreen] = "true"
>
</ngx-spinner>
<div class="card mb-3">
  <div class="card-body">
    <p class="h6">
      {{ phase.name
      }}<!--span class="ml-3 text-secondary">{{ phase.score }}/5 Completed</span-->
    </p>
    <div
      class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column align-items-lg-start justify-content-lg-between"
    >
      <div class="pr-lg-2">
        <p class="mb-2">{{ phase.description }}</p>
      </div>
      <div class="flex-grow-1 mt-3 mt-sm-3 mt-lg-0">
        <button
          type="button"
          class="btn btn-primary"
          style="white-space: nowrap;"
          (click)="navigate()"
        >
          Take the audit
        </button>
      </div>
    </div>
  </div>
</div>