@import "../../../../assets/scss/theme";


[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: $primary;
  vertical-align: middle;
  color: $white;
}

.avatarLetters {
  margin-bottom: 0px;
}

.phaseDiv{
  margin-bottom: 6rem;
}

.phaseWrapper{
  app-phase-tile:nth-child(even){
    ::ng-deep.phaseContent{
      flex-direction: row-reverse;
      position: relative;
      left: -3px;
    }
    ::ng-deep.col-9{
      text-align: right;
    }
  }
}

