<ngx-spinner
bdOpacity = 1
bdColor = "#fff"
size = "medium"
color = "#cf46ff"
type = "fire"
[fullScreen] = "true"
>
</ngx-spinner>
<app-nav-bar></app-nav-bar>
<div class="row mt-4">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 phaseDiv">
    <div class="card border-0 bg-light" *ngIf="products != null">
      <div class="card-body">
        <div class="d-flex flex-row align-items-start">
          <div>
            <ngx-avatar size="40" bgColor=#8e44ad name="{{products[0].name}}"></ngx-avatar>
          </div>
          <div class="ml-3">
            <p class="h6">{{products[0].name}}</p>
            <p>{{products[0].description}}</p>
          </div>
        </div>
        <!--div class="d-flex flex-column align-items-end">
          <p class="text-secondary mb-1"><b>0/9 Completed</b></p>
          <progressbar style="height: 8px;" [value]="55" type="success"></progressbar>
        </div-->
      </div>
    </div>
    <nav aria-label="breadcrumb" class="mt-4" *ngIf="products != null">
      <ol class="breadcrumb bg-white px-0">
        <li class="breadcrumb-item"><a href="#">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{products[0].name}}</li>
      </ol>
    </nav>
    <h5 class="mb-4">Phases</h5>
    <app-phase-tile [productId]="id" [phase]="phase" *ngFor="let phase of phases"></app-phase-tile>
  </div>
</div>
