::ng-deep.carousel-inner {
  .active {
    margin-right: 0px;
  }
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
  background-color: white;
}
::ng-deep .carousel .carousel-control-prev-icon,
::ng-deep .carousel .carousel-control-next-icon {
  background-color: #000;
  width: 20px;
  height: 20px;
  background-size: 41%;
  border-radius: 50%;
}

::ng-deep .carousel .carousel-control-prev {
  left: -16px;
  width: 20px;
  height: 48px;
}

::ng-deep .carousel .carousel-control-next {
  right: -16px;
  width: 20px;
  height: 48px;
}

::ng-deep.angular-editor-toolbar {
  background: #fff !important;
}



.phaseDiv{
  margin-bottom: 4rem;
}