<div class="row mt-2">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb bg-white px-0">
        <li class="breadcrumb-item"><a href="#">Product</a></li>
        <li
          class="breadcrumb-item active"
          aria-current="page"
          *ngIf="product != null"
        >
          {{ product[0].name }}
        </li>
      </ol>
    </nav>
    <h5 class="mb-4">Knowledge Areas</h5>
    <div *ngIf="items.length" class="col-12 py-3">
      <carousel
        *ngIf="items != null"
        [itemsPerSlide]="lcarouselLength"
        [singleSlideOffset]="true"
        [indicatorsByChunk]="true"
        [showIndicators]="false"
        [interval]="0"
      >
        <app-knowledge-area-slide
          [knowledgeArea]="item"
          [productId]="productId"
          [phaseId]="phaseId"
          *ngFor="let item of items; let index = index"
          style="width:100%"
        ></app-knowledge-area-slide>
      </carousel>
      <div class="mt-5">
        <app-evidence-box
          [question]="question"
          [index]="index"
          *ngFor="let question of questions; let index = index"
        ></app-evidence-box>
      </div>
    </div>
  </div>
</div>
