@import "../../../../assets/scss/theme";

.slide-width {
    width:100% !important;
    margin-right:16px;
    margin-left:16px;
}

.text-color{
    color:$secondary;
}

.is-active{
    color:$primary;
}


::ng-deep.carousel-control-prev-icon{
    cursor: pointer;
}

::ng-deep.carousel-control-next-icon{
    cursor: pointer;
}