@import "../assets/scss/theme";


[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: $primary;
  vertical-align: middle;
  color: $white;
}

.avatarLetters{
    margin-bottom: 0px;
}
