
<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row align-items-center justify-content-between" style="height: 5vh;">
  <div class="mr-3 d-flex flex-row align-items-center">
    <a (click)="navigate()">
      <fa-icon [icon]="faArrowLeft" class="text-dark mr-3"></fa-icon>    
    </a>
    <h6 *ngIf="evidence != null" class="mb-0">{{ evidence[0].createdDate | date:'medium' }}</h6>
  </div>
  <div class="d-flex flex-row align-items-center">
    <h5 *ngIf="evidence != null" class="mb-0 mr-3"><span class="badge badge-secondary">{{ evidence[0].status }}</span></h5>
    <button type="submit" class="btn btn-link d-flex px-0 py-0 font-weight-bold" (click)="save()">
      <fa-icon [icon]="faSpinner" *ngIf="submitEvidence" class="text-white fa-spin mr-2 "></fa-icon>
      Revert
    </button>
  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 py-3 d-flex evidenceContent">
  <div class="w-100 px-4 py-4" style="box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);">
    <p *ngIf="!evidenceReceived">Loading ...</p>
    <div *ngIf="evidence != null">
      <div [innerHTML]="evidence[0].content"></div>
      <div class="mb-md-0 mb-2" style="padding-right:5px">
        
      </div>
    </div>
  </div>
</div>
