<div class="col-12 col-sm-12 col-md-12 col-lg-8">
  <p *ngIf="!evidenceReceived">Loading ...</p>
  <div *ngIf="evidence != null">
    <div [innerHTML]="evidence[0].content"></div>
    <p>{{ evidence[0].status }}</p>
    <div class="mb-md-0 mb-2" style="padding-right:5px">
      <button type="submit" class="btn btn-primary d-flex" (click)="save()">
        <fa-icon [icon]="faSpinner" *ngIf="submitEvidence" class="text-white fa-spin mr-2 "></fa-icon>
        Save
      </button>
    </div>
  </div>
</div>
