
<div class="card border-0 shadow-sm product-tile product-tile-h" style="margin-top: 20px;" *ngIf="loader">
    <div class="card-body pt-0">
      <p class="h6 text-dark">Assign Products to Users</p>
      <div class="form-group" style="min-width:320px;">
        Select User : 
        <ng-select
          class="custom-select"
          [items]="users"
          bindLabel="email"
          bindValue="id"
          [(ngModel)]="selectedStatus1"
          (change)="setSelectedUser($event)"
          placeholder="Select User"
        >
        </ng-select>
        Select Product :
        <ng-select
          class="custom-select"
          [items]="products"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedStatus2"
          (change)="setProductId($event)"
          placeholder="Select Products"
        >
        </ng-select>
      </div>   
      <button type="submit" class="btn btn-primary d-flex" (click)="addUserToProject()">
        Save
      </button>
  </div>
</div>
<div class="card border-0 shadow-sm product-tile product-tile-h" style="margin-top: 20px;">
  <div class="card-body pt-0">
    <p class="h6 text-dark">Add New Products</p>
    <div class="form-group" style="min-width:320px;">
      Product Name : <input class="form-control" [(ngModel)]="productName" type="text" style="width: 100%;">
      Product Description : <textarea class="form-control" [(ngModel)]="productDes" type="text" style="width: 100%;"></textarea>
      Select Organization : 
      <ng-select
        class="custom-select"
        [items]="organizations"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedStatus3"
        (change)="setSelectedOrganization($event)"
        placeholder="Select Organization"
      >
      </ng-select>
    </div>   
    <button type="submit" class="btn btn-primary d-flex" (click)="addProduct()">
      Save
    </button>
  </div>
</div>

<div  *ngIf="!loader" class="" style="width:100%; height:calc(100vh - 56px); position: relative; display: flex; align-items: center; justify-content: center;">
  <ngx-spinner 
  bdOpacity = 1
  bdColor = "rgba(255,255,255,1)"
  size = "medium"
  color = "#cf46ff"
  type = "fire"
  [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
