@import "../../assets//scss//theme";

.custom-select {
  padding: 0;
  margin-top: 5px;
}

::ng-deep.ng-select .ng-select-container {
  border: none !important;
}

.input-group-text{
  border-right: none;
}

.input-teal{
  .input-group-text{
    background-color: $teal;
    color:$white;
    border-color:$teal;
  }
  .ng-select{
    border-color:$teal;
  }
  .fa-spin{
    color:$white !important;
  }
}

.input-blue{
  .input-group-text{
    background-color: $blue;
    color:$white;
    border-color:$blue;
  }
  .ng-select{
    border-color:$blue;
  }
  .fa-spin{
    color:$white !important;
  }
}

.input-warning{
  .input-group-text{
    background-color: $warning;
    color:$white;
    border-color:$warning;
  }
  .ng-select{
    border-color:$warning;
  }
  .fa-spin{
    color:$white !important;
  }
}

.card-footer {
  padding-top: 0.25rem;
}

.card-body {
  padding-bottom: 0.5rem;
}

.btn-mid {
  background-color: #d6dade;
}