<ngx-spinner
bdOpacity = 1
bdColor = "#fff"
size = "medium"
color = "#cf46ff"
type = "fire"
[fullScreen] = "true"
>
</ngx-spinner>
<app-nav-bar></app-nav-bar>
<div class="row mt-4">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <tabset>
      <tab heading="Active Products" id="tab1">
        <div class="row d-flex mt-4">
          <div class="card-deck">
            <app-product-tile
              [product]="product"
              *ngFor="let product of products"
              class="col col-12 col-sm-12 col-md-4 col-lg-4 mb-3"
            ></app-product-tile>
            <alert type="info w-100" *ngIf="products == null">
              <strong>No Products Found</strong> Please contact Administrator
            </alert>
          </div>
        </div>
      </tab>
      <tab heading="Archived Products">
        <div class="row d-flex mt-4">
          <alert type="info w-100">
            <strong>No Archived Products</strong> No archived products found
          </alert>
        </div>
      </tab>
    </tabset>
  </div>
</div>
