@import "../../../../assets/scss/theme";

.versionDateDetailTile{
    &:hover{
        background-color: $gray-100;
    }
}

.active{
    color: $primary;
    font-weight: 600;
}

.list-group-item{
    border-radius: 0px !important;
    border-top:1px solid transparent !important;
}

.text-14{
    font-size: 14px;
    line-height: 20px;
}