@import "../../../../assets/scss/theme";


[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: $primary;
  vertical-align: middle;
  color: $white;
}

.avatarLetters {
  margin-bottom: 0px;
}

.facePile {
  .facePile-img {
    img {
      margin-left: -8px;
    }
  }

  .facePile-more {
    width:32px;
    height: 32px;
    border-radius: 50%;
    margin-left: -8px;
  }
}

.product-tile{
  &:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
}

.product-tile-h {
  height:100%;
}