<div class="card" style="margin-bottom: 50px;">
  <div class="card-body">
    <p class="h6">{{ index + 1 }}. {{ question.title }}</p>
    <div class="d-flex mb-3">
      <p class="text-secondary mb-0">
        {{ question.description }}
      </p>
    </div>
    <div class="d-flex">
      <div class="container mt-3 ">
        <div class="row justify-content-center">
          <div #editable class=" col-6" style="min-height: 25vh;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-white">
    <div
      class="footer-actions d-flex align-items-center justify-content-between"
    >
      <div>
        <button type="button" class="btn btn-outline-primary">
          Add
        </button>
      </div>
      <div>
        <div class="input-group" style="min-width:320px;">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Status</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1">Fully Complied</option>
            <option value="2">Partialy Complied</option>
            <option value="3">Not Complied</option>
            <option value="3">Not Applicable</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
